.vs/RDLC_DEMO/v15/Server/sqlite3/storage.ide-wal
.vs/RDLC_DEMO/v15/Server/sqlite3/storage.ide
.vs/RDLC_DEMO/v15/Server/sqlite3/db.lock
.vs/RDLC_DEMO/v15/Server/sqlite3/storage.ide-shm
RDLC_DEMO/obj/Debug/In-hospital Indicators.Service.csproj.GenerateResource.cache
RDLC_DEMO/obj/Debug/In-hospital Indicators.Service.csproj.FileListAbsolute.txt
RDLC_DEMO/obj/Debug/In-hospital Indicators.Service.pdb
RDLC_DEMO/obj/Debug/In-hospital Indicators.Service.exe
RDLC_DEMO/bin/Debug/In-hospital Indicators.Service.exe
RDLC_DEMO/obj/Debug/In-hospital Indicators.Service.csproj.CoreCompileInputs.cache
RDLC_DEMO/bin/Debug/In-hospital Indicators.Service.pdb
.vs/RDLC_DEMO/v15/.suo
